* {
    margin: 10;
    padding: 15;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#logoIndex {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 2rem;
}
.seccionH1 {
    background-color: aqua;
    border: 2px dashed blue;
    text-align: justify;
    color: black;
}

h1 {
    color: aqua;
    border: 5px rgb(7, 160, 180);
    border-style: dashed;
    font-size: 30px;
    margin: 10px;
    padding: 15px;
}
.footerIndex {
    background-color: rgb(142, 209, 209);
    border-radius: 5px;
    border-style: solid;
}
#navIndex {
    font-size: 20px;
    color:aliceblue;
    border:aquamarine;
    border-radius: 10%;;
    border-style: solid;
}
nav ul li {
    display: inline;
}
h3 {
    color: black;
    border: 15px aquamarine;
    font-size: 100%;
    background-color: aquamarine;

}
p {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.iconoInstagram {
    height: 50px;
}
#iconoFacebook {
    box-sizing: border-box;
    border-color: aquamarine;
    border-style: double;
}
#iconoFacebook:hover {
    background: aquamarine;
}
.imagenSucursal {
    position: relative;
    top: 5px;
    left:30%;
}
#barraDeBusqueda {
width: 89%;
}
.encabezado {
    background-color:aquamarine;
    height: 75px;
}
#imagenes {
    height: 75px;
}
.boton1 {
    color: black;
    background-color:aquamarine ;
}
.boton1:active {
    color: black;
    background-color: aqua;
    font-size: 20px;
}
.comoComprar {
    background-color: aquamarine;
    border: 5px solid;
    display: flex;
    flex-direction:column;
    align-items:center ;

}
#carrito {
    height: 70px;
}
#piezas {
    height: 30;
    font-size: 30px;
}
.catalogo {
    border: 2px solid;
    border-color: aqua;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.enviar {
    color: black;
    background-color:aquamarine ;
}
.enviar:hover {
    color:aliceblue;
    background-color:black;
    font-size: 20px;
    } 
.inicio {
        color: black;
        
    }
.inicio: :checked {
        color:aliceblue;
        background-color:aqua;
        font-size: 25px;
        } 
.productos {
            color: black;
            
        }
.productos:link {
            color:aliceblue;
            background-color:aqua;
            } 
.comprar {
            color: black;
                
            }
.comprar :link {
            color:aliceblue;
            background-color:aqua;
                } 
.referencias {
            color: black;
                    
                }
.referencias:link {
            color:aliceblue;
            background-color:aqua;
            } 

